h1{
   /* border-left-style: solid;
    border-left-style: dashed;
    border-right-style: dashed;
    border-Top-style: ridge;
    */
    /*border-style: solid;
    border-color: brown;
    border-width: 10px;
    */
    border: 5px solid blue;
    border: radius 10px;

}